.root {
  height: 389px;
  background-color: rgb(254, 243, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 765px) {
    height: 329px;
  }
}

.growParagraph {
  width: 730px;
  text-align: center;
  @media (max-width: 765px) {
    width: initial;
    margin: 0 40px 30px;
  }
}
