.root {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 414px;
  border: 1px solid rgb(245, 245, 245);
  transition: all 0.2s ease-in;
  padding: 0 10px;

  @media (max-width: 765px) {
    max-width: initial;
    margin-top: 0;
  }
}

.root:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 17px 5px;
}

.quoteIcon {
  margin-top: 30px;
  width: 40px;
}

.root p {
  font-size: 16px;
}

.customerPhoto {
  max-width: 89px;
  border-radius: 50%;
  @media (max-width: 765px) {
    width: 58px;
  }
}

.customerPhotoBackground {
  display: flex;
  padding: 5px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 10px 0px;
}

.customerName {
  color: rgb(47, 51, 73);
}

.instaIcon {
  color: rgb(47, 51, 73);
}

.customerDetails p {
  color: rgb(47, 51, 73);
}
