@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  ul,
  ol,
  li {
    padding: 0;
    margin: 0;
  }
}

h2 {
  font-family: Urbanist, sans-serif;
  color: rgb(47, 51, 73);
}

p {
  font-family: Figtree, sans-serif;
  font-size: 18px;
  color: rgb(47, 51, 73);
  line-height: 30px;
}
