.root {
  background-color: rgb(47, 51, 73);
}

.footerContainer {
  max-width: 1173px;
  margin: 0 auto;
  @media (max-width: 765px) {
    padding-top: 50px;
  }
}

.upperFooter {
  min-height: 400px;
  gap: 10px;
  display: flex;
  margin: 0 20px;
  padding-top: 20px;
  align-items: center;
  flex-wrap: nowrap;
  @media (max-width: 1020px) {
    flex-wrap: wrap;
    column-gap: 30px;
  }
  @media (max-width: 765px) {
    flex-direction: column;
    gap: 0;
    align-items: start;
  }
}

.lowerFooter {
  height: 170px;
}

.imgContainer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.lowerFooter img {
  height: 72px;
}

.footerCard {
  width: 369px;
  height: 260px;
  @media (max-width: 1020px) {
    height: initial;
    width: 300px;
  }

  @media (max-width: 765px) {
    height: initial;
  }
}

.footerCard p {
  color: rgb(255, 255, 255);
}

.footerCard img {
  height: 42px;
}

.footerCard a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Figtree, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.footerCard ul {
  list-style: none;
  margin-top: 20px;
  @media (max-width: 765px) {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.footerHeading {
  display: flex;
  height: 42px;
  align-items: center;
}
