.root {
  background: rgb(224, 241, 241);
  height: 580px;
  font-family: Urbanist, serif;
  @media (max-width: 765px) {
    width: 100%;
    height: initial;
    padding-top: 60px;
  }
}
.secondGridColumn {
  display: flex;
  justify-content: center;
  position: relative;
  @media (max-width: 765px) {
    display: none;
  }
}
.division {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 20px;
  margin: 0 20px;
  @media (max-width: 765px) {
    display: block;
    margin: 0 30px;
  }
}
.semicircle {
  width: 100%;
  align-self: end;
  @media (max-width: 765px) {
    position: absolute;
    width: 95%;
  }
}
.photo {
  position: absolute;
  bottom: -30px;
  width: 334px;
  align-self: end;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px 0px;
  @media (max-width: 765px) {
    display: none;
  }
}

.photoMobile {
  display: none;
  @media (max-width: 765px) {
    bottom: -30px;
    width: 80%;
    align-self: end;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px 0px;
    position: relative;
    z-index: 2;
    display: initial;
  }
}

.firstGridColumn h1 {
  font-size: 46px;
  color: rgb(47, 51, 73);
  margin: 0;
  padding: 0;
  @media (max-width: 765px) {
    font-size: 24px;
  }
}

.firstGridColumn p {
  font-size: 18px;
  line-height: 30px;
  font-family: Figtree, sans-serif;
  color: rgb(47, 51, 73);
  margin: 0;
  padding: 0;
  max-width: 523px;
}

.firstGridColumn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  max-width: 543px;
  justify-self: center;
}

.firstGridColumn h3 {
  color: rgb(165, 186, 187);
  margin: 0;
}

.photoAndSemicircleMobile {
  display: none;
  @media (max-width: 765px) {
    display: flex;
    justify-content: center;
  }
}
